<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.piebridge.forcestopgb"
    android:versionCode="175"
    android:versionName="0.21">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="11" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/light">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_summary" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.1+" />

        <receiver android:name="me.piebridge.prevent.ui.PreventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="me.piebridge.prevent.ui.PreventActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="me.piebridge.prevent.ui.PreventProvider"
            android:authorities="me.piebridge.forcestopgb.provider" />

    </application>

</manifest>